* {
    box-sizing: border-box;
}

html {
    font-family: $serif;
    font-size: 18px;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: $sans;
}

ruby {
    font-size: 32px;
}